In [2]:
import numpy as np
import pandas as pd
from tqdm.notebook import tqdm

In [4]:
data = pd.read_parquet("spx_stock_prices_master.parquet")
data

,cusip,permno,permco,issuno,hexcd,hsiccd,date,bidlo,askhi,prc,...,bid,ask,shrout,cfacpr,cfacshr,openprc,numtrd,retx,ticker,comnam
0,36720410,10001.0,7953.0,10398.0,2.0,4925.0,1999-01-04,9.500000,9.500000,9.500000,...,9.500000,9.750000,2421.0,1.5,1.5,9.500000,1.0,-0.012987,EGAS,ENERGY INC
1,36720410,10001.0,7953.0,10398.0,2.0,4925.0,1999-01-05,10.000000,10.000000,10.000000,...,9.500000,10.000000,2421.0,1.5,1.5,10.000000,3.0,0.052632,EGAS,ENERGY INC
2,36720410,10001.0,7953.0,10398.0,2.0,4925.0,1999-01-06,10.000000,10.000000,10.000000,...,9.750000,10.250000,2421.0,1.5,1.5,10.000000,8.0,0.000000,EGAS,ENERGY INC
3,36720410,10001.0,7953.0,10398.0,2.0,4925.0,1999-01-07,9.875000,10.250000,-10.062500,...,9.875000,10.250000,2421.0,1.5,1.5,NaN,0.0,0.006250,EGAS,ENERGY INC
4,36720410,10001.0,7953.0,10398.0,2.0,4925.0,1999-01-08,9.750000,9.750000,9.750000,...,9.750000,10.125000,2421.0,1.5,1.5,9.750000,2.0,-0.031056,EGAS,ENERGY INC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
340541,88160R10,93436.0,53453.0,66252.0,3.0,9999.0,2022-03-25,997.320129,1021.799927,1010.640015,...,1010.210022,1010.890015,1033534.0,1.0,1.0,1008.000000,593068.0,-0.003235,TSLA,TESLA INC
340542,88160R10,93436.0,53453.0,66252.0,3.0,9999.0,2022-03-28,1053.599976,1097.879883,1091.839966,...,1091.839966,1092.199951,1033534.0,1.0,1.0,1065.099976,1113132.0,0.080345,TSLA,TESLA INC
340543,88160R10,93436.0,53453.0,66252.0,3.0,9999.0,2022-03-29,1073.109985,1114.770020,1099.569946,...,1099.819946,1099.959961,1033534.0,1.0,1.0,1107.989990,835619.0,0.007080,TSLA,TESLA INC
340544,88160R10,93436.0,53453.0,66252.0,3.0,9999.0,2022-03-30,1084.000000,1113.949951,1093.989990,...,1093.689941,1093.989990,1033534.0,1.0,1.0,1091.170044,598381.0,-0.005075,TSLA,TESLA INC
340545,88160R10,93436.0,53453.0,66252.0,3.0,9999.0,2022-03-31,1076.640991,1103.139893,1077.599976,...,1077.599976,1077.880005,1033534.0,1.0,1.0,1094.569946,509355.0,-0.014982,TSLA,TESLA INC

In [17]:
data2 = pd.read_parquet("spx_stock_prices.parquet")
# remove all columns with zeroes values in data2
data2

,JAVA_10078,ORCL_10104,MSFT_10107,SDS_10108,AYE_10137,TROW_10138,HON_10145,EMC_10147,BEAM_10225,LLTC_10299,...,CFN_92988,AVGO_93002,VRSK_93089,DG_93096,FTNT_93132,VAL_93159,GNRC_93246,QEP_93422,CBOE_93429,TSLA_93436
date,,,,,,,,,,,,,,,,,,,,,
1999-01-04,90.0625,43.0000,141.000,0.0,0.0,0.00,43.5625,87.0000,31.2500,0.0,...,0.0,0.00,0.00,0.00,0.00,0.0,0.00,0.0,0.00,0.00
1999-01-05,92.5625,44.3125,146.500,0.0,0.0,0.00,43.8125,91.1250,31.6250,0.0,...,0.0,0.00,0.00,0.00,0.00,0.0,0.00,0.0,0.00,0.00
1999-01-06,90.9375,46.3750,151.250,0.0,0.0,0.00,44.6875,89.5000,32.2500,0.0,...,0.0,0.00,0.00,0.00,0.00,0.0,0.00,0.0,0.00,0.00
1999-01-07,89.6875,45.6250,150.500,0.0,0.0,0.00,44.2500,93.7500,31.0625,0.0,...,0.0,0.00,0.00,0.00,0.00,0.0,0.00,0.0,0.00,0.00
1999-01-08,90.8750,46.2500,149.875,0.0,0.0,0.00,44.1875,93.5625,31.1250,0.0,...,0.0,0.00,0.00,0.00,0.00,0.0,0.00,0.0,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-03-25,0.0000,81.7300,303.680,0.0,0.0,148.92,197.7900,0.0000,0.0000,0.0,...,0.0,628.87,208.00,221.47,332.73,0.0,312.61,0.0,114.73,1010.64
2022-03-28,0.0000,83.6000,310.700,0.0,0.0,150.27,197.1100,0.0000,0.0000,0.0,...,0.0,632.88,211.60,226.30,338.53,0.0,312.33,0.0,112.94,1091.84
2022-03-29,0.0000,84.2900,315.410,0.0,0.0,155.00,197.5400,0.0000,0.0000,0.0,...,0.0,641.47,214.80,228.52,347.48,0.0,321.14,0.0,114.78,1099.57
2022-03-30,0.0000,83.3600,313.860,0.0,0.0,153.10,196.5400,0.0000,0.0000,0.0,...,0.0,631.09,216.97,227.47,341.93,0.0,311.06,0.0,114.69,1093.99
2022-03-31,0.0000,82.7300,308.310,0.0,0.0,151.19,194.5800,0.0000,0.0000,0.0,...,0.0,629.68,214.63,222.63,341.74,0.0,297.26,0.0,114.42,1077.60

In [5]:
data.columns

Index(['cusip', 'permno', 'permco', 'issuno', 'hexcd', 'hsiccd', 'date',
       'bidlo', 'askhi', 'prc', 'vol', 'ret', 'bid', 'ask', 'shrout', 'cfacpr',
       'cfacshr', 'openprc', 'numtrd', 'retx', 'ticker', 'comnam'],
      dtype='object')

In [6]:
# Data cleanup

# columns = ["ticker", "comnam", "cusip", "permno", "bid", "ask", "openprc", "prc", "vol", "retx"]
columns = ["ticker", "price"]
price = data[columns]
price = price.dropna(axis=1, how='all')

In [8]:
price.drop_duplicates().reset_index(drop=True)

     ticker                      comnam
0      EGAS                  ENERGY INC
1      EGAS             GAS NATURAL INC
2      SUNW        SUN MICROSYSTEMS INC
3      JAVA        SUN MICROSYSTEMS INC
4      ORCL         ORACLE SYSTEMS CORP
...     ...                         ...
3901     FN                    FABRINET
3902   CBOE        C B O E HOLDINGS INC
3903   CBOE  C B O E GLOBAL MARKETS INC
3904   TSLA            TESLA MOTORS INC
3905   TSLA                   TESLA INC

[3906 rows x 2 columns]

In [9]:
price.to_parquet("ticker_names.parquet")

In [8]:
data

,cusip,permno,permco,issuno,hexcd,hsiccd,date,bidlo,askhi,prc,...,bid,ask,shrout,cfacpr,cfacshr,openprc,numtrd,retx,ticker,comnam
33229,68389X10,10104.0,8045.0,10536.0,1.0,7372.0,2020-01-02,53.230000,53.959999,53.950001,...,53.950001,53.959999,3207649.0,1.0,1.0,53.270000,NaN,0.018309,ORCL,ORACLE SYSTEMS CORP
33230,68389X10,10104.0,8045.0,10536.0,1.0,7372.0,2020-01-03,52.950001,54.049999,53.759998,...,53.770000,53.779999,3207649.0,1.0,1.0,52.990002,NaN,-0.003522,ORCL,ORACLE SYSTEMS CORP
33231,68389X10,10104.0,8045.0,10536.0,1.0,7372.0,2020-01-06,53.349998,54.200001,54.040001,...,54.040001,54.049999,3207649.0,1.0,1.0,53.360001,NaN,0.005208,ORCL,ORACLE SYSTEMS CORP
33232,68389X10,10104.0,8045.0,10536.0,1.0,7372.0,2020-01-07,53.610001,54.330002,54.160000,...,54.160000,54.169998,3207649.0,1.0,1.0,53.889999,NaN,0.002221,ORCL,ORACLE SYSTEMS CORP
33233,68389X10,10104.0,8045.0,10536.0,1.0,7372.0,2020-01-08,53.700001,54.599998,54.130001,...,54.119999,54.130001,3207649.0,1.0,1.0,53.939999,NaN,-0.000554,ORCL,ORACLE SYSTEMS CORP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
340541,88160R10,93436.0,53453.0,66252.0,3.0,9999.0,2022-03-25,997.320129,1021.799927,1010.640015,...,1010.210022,1010.890015,1033534.0,1.0,1.0,1008.000000,593068.0,-0.003235,TSLA,TESLA INC
340542,88160R10,93436.0,53453.0,66252.0,3.0,9999.0,2022-03-28,1053.599976,1097.879883,1091.839966,...,1091.839966,1092.199951,1033534.0,1.0,1.0,1065.099976,1113132.0,0.080345,TSLA,TESLA INC
340543,88160R10,93436.0,53453.0,66252.0,3.0,9999.0,2022-03-29,1073.109985,1114.770020,1099.569946,...,1099.819946,1099.959961,1033534.0,1.0,1.0,1107.989990,835619.0,0.007080,TSLA,TESLA INC
340544,88160R10,93436.0,53453.0,66252.0,3.0,9999.0,2022-03-30,1084.000000,1113.949951,1093.989990,...,1093.689941,1093.989990,1033534.0,1.0,1.0,1091.170044,598381.0,-0.005075,TSLA,TESLA INC
340545,88160R10,93436.0,53453.0,66252.0,3.0,9999.0,2022-03-31,1076.640991,1103.139893,1077.599976,...,1077.599976,1077.880005,1033534.0,1.0,1.0,1094.569946,509355.0,-0.014982,TSLA,TESLA INC